[package]
name = "tado-exporter"
version = "0.1.0"
authors = ["Vincent Composieux <vincent@composieux.fr>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
hyper = "0.13.4"
tokio = { version = "0.2.13", features = ["full"] }
lazy_static = "1.4.0"
prometheus = "0.8.0"
reqwest = { version = "0.10.4", features = ["json"] }
serde = "1.0.106"
serde_derive = "1.0.105"
serde_json = "1.0.51"
ticker = "0.1.1"
log = "0.4.8"
env_logger = "0.7.1"
openssl = { version = "0.10.29", features = ["vendored"] }