[package]
name = "tado-exporter"
version = "0.1.0"
authors = ["Vincent Composieux <vincent@composieux.fr>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
hyper = "0.13.9"
tokio = { version = "0.2.24", features = ["full"] }
lazy_static = "1.4.0"
prometheus = "0.9.0"
reqwest = { version = "0.10.9", features = ["json"] }
serde = "1.0.118"
serde_derive = "1.0.118"
serde_json = "1.0.60"
ticker = "0.1.1"
log = "0.4.11"
env_logger = "0.8.2"
openssl = { version = "0.10.31", features = ["vendored"] }